.main-header .sidebar-toggle {
    padding: 14px;
}

.skin-blue-light .content-wrapper {
    border-top: 1px solid #d2d6de;
}

.skin-blue-light .main-header .navbar .nav > li > a {
    color: #000;
}

.skin-blue-light .main-header .navbar .sidebar-toggle {
    color: #000;
}

.skin-blue-light .main-header .navbar {
    background-color: #fff;
}

.skin-blue-light .main-header .logo {
    background-color: #fff;
}

.skin-blue-light .main-header li.user-header {
    background-color: #fff;
}

.skin-blue-light .sidebar-menu > li.active {
    border-left-color: #fff;
}

.skin-blue.layout-top-nav .main-header > .logo {
    background-color: #fff;
}

.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
}

.skin-blue-light .main-header .logo:hover {
    background-color: #fff;
}

.skin-blue-light .main-header .navbar .nav > li > a:hover,
.skin-blue-light .main-header .navbar .nav > li > a:active,
.skin-blue-light .main-header .navbar .nav > li > a:focus,
.skin-blue-light .main-header .navbar .nav .open > a,
.skin-blue-light .main-header .navbar .nav .open > a:hover,
.skin-blue-light .main-header .navbar .nav .open > a:focus,
.skin-blue-light .main-header .navbar .nav > .active > a {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
}

@media (max-width: 767px) {
    .skin-blue-light .main-header .navbar .dropdown-menu li a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}
