.pipeline {
    font-size: 12px;

    label {
        margin-bottom: 0;
    }

    .form-control {
        height: 24px;
        width: 100%;
        padding: 0 8px;
    }

    .form-group {
        margin-bottom: 0;
    }

    dl.dl-horizontal dt label {
        margin-bottom: 0;
    }

    .pseudo-header {
        text-align: center;
        font-weight: bold;
        margin: 0;
        padding: 4px;
        line-height: 1.6;
        border: 1px solid #ddd;
    }

    .pipeline-blue-title {
        color: #ffffff;
        background-color: #00c0ef;
        text-align: center;
        padding: 5px 0;
        margin: 0;
        font-weight: bold;
    }

    .pipeline-green-title {
        color: #ffffff;
        background-color: #00a65a;
        text-align: center;
        padding: 5px 0;
        margin: 0;
        font-weight: bold;
    }

    .pipeline-orange-title {
        color: #ffffff;
        background-color: #f39c12;
        text-align: center;
        padding: 5px 0;
        margin: 0;
        font-weight: bold;
    }

    .highlight {
        background-color: #78f478;
    }

    table.dataTable thead > tr > th {
        padding-left: 0;
        padding-right: 0;
    }

    #rosterPhysicianTable_wrapper,
    #rosterAppTable_wrapper,
    #benchPhysicianTable_wrapper,
    #benchAppTable_wrapper,
    #credentialingPhysicianTable_wrapper,
    #credentialingAppTable_wrapper {
        td {
            background: #ffffff;
        }
    }

    .overflow-hidden {
        overflow: hidden !important;
    }
}

@media print {
    .pipeline {
        .no-break-inside {
            page-break-inside: avoid;
        }
    }
}
