.pipeline {
    font-size: 12px;

    label {
        margin-bottom: 0;
    }

    .form-control {
        height: 24px;
        width: 100%;
        padding: 0 8px;
    }

    .form-group {
        margin-bottom: 0;
    }

    dl.dl-horizontal dt label {
        margin-bottom: 0;
    }

    .pseudo-header {
        text-align: center;
        font-weight: bold;
        margin: 0;
        padding: 4px;
        line-height: 1.6;
        border: 1px solid #ddd;
    }

    .pipeline-blue-title {
        color: #ffffff;
        background-color: #00c0ef;
        text-align: center;
        padding: 5px 0;
        margin: 0;
        font-weight: bold;
    }

    .pipeline-green-title {
        color: #ffffff;
        background-color: #00a65a;
        text-align: center;
        padding: 5px 0;
        margin: 0;
        font-weight: bold;
    }

    .pipeline-orange-title {
        color: #ffffff;
        background-color: #f39c12;
        text-align: center;
        padding: 5px 0;
        margin: 0;
        font-weight: bold;
    }

    .highlight {
        background-color: #78f478 !important;
    }

    table.dataTable thead > tr > th {
        padding-left: 0;
        padding-right: 0;
    }

    .overflow-hidden {
        overflow: hidden !important;
    }

    // input[type='radio']:after {
    //     width: 18px;
    //     height: 18px;
    //     border-radius: 18px;
    //     top: -3px;
    //     left: -3px;
    //     position: relative;
    //     content: '';
    //     display: inline-block;
    //     visibility: visible;
    //     border: 1px solid grey;
    // }

    // input[type='radio']:checked:after {
    //     width: 18px;
    //     height: 18px;
    //     border-radius: 18px;
    //     top: -3px;
    //     left: -3px;
    //     position: relative;
    //     content: '';
    //     display: inline-block;
    //     visibility: visible;
    //     border: 1px solid grey;
    // }

    // .red:after {
    //     background-color: #fb9d9e;
    // }

    // .yellow:after {
    //     background-color: #fbf5af;
    // }

    // .green:after {
    //     background-color: #86a98f;
    // }

    // .red:checked:after {
    //     background-color: #ff0000;
    // }

    // .yellow:checked:after {
    //     background-color: #f9e702;
    // }

    // .green:checked:after {
    //     background-color: #028c27;
    // }

    .iradio_square-red,
    .iradio_square-yellow,
    .iradio_square-green {
        background-size: 180px 18px;
        background-position: -108px 0px;
        width: 17px;
        height: 17px;
    }

    .iradio_square-red.checked,
    .iradio_square-yellow.checked,
    .iradio_square-green.checked {
        background-position: -126px 0;
    }

    .select2-container .select2-selection--single {
        height: 24px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 20px;
    }

    .bold {
        font-weight: bold;
    }
}


@media print {
    .pipeline {
        .no-break-inside {
            page-break-inside: avoid;
        }
    }
}
