.pipeline {
    font-size: 12px;

    dl.dl-horizontal dt label {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .form-inline table .form-control {
        width: 100%;
    }

    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td,
    .table > tfoot > tr > th,
    .table > tfoot > tr > td {
        padding: 4px;
    }
}
