::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #aaa !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa !important;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa !important;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #aaa !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color:    #aaa !important;
}
