.providers{
	margin-top: 15px;

	.name {
		display: inline-block;
		width: 20%;
		min-height: 100px;
	}

	.stage {
		display: inline-block;
		width: 25%;
		text-align: center;
		min-height: 100px;
		vertical-align: top;
		border: 2px solid #fff;
		padding: 10px;
	}

	.draggable {
		border: 1px solid #ccc;
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    border-radius: 25px;
	    font-size: 10px;
	    display: inline-block;
	}

	.draggable:hover {
		cursor: pointer;
	}

	.over {
	  border: solid 2px #ddd;
	}
}