.image-upload {
    width: 350px;
    height: 350px;
    border: 2px solid #888;
    z-index: 100;

    &-preview {
        width: 336px;
        height: 336px;
        margin: 5px;
        cursor: pointer;

        &-helptext {
            display: none;
            font-size: 1.5em;
            color: #fff;
            text-align: center;
            line-height: 336px;

            &:hover {
                background: rgba(0, 0, 0, 0.4);
            }
        }

        &:hover &-helptext{
            display: block;
        }
    }

    &-input {
        display: none !important;
        position: absolute;
        left: -1000px;
    }
}
