.reports-summary {
	.table {
		color: #000000;
		font-family: "Calibri (Body)", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		font-size: 11px;

		th {
			background-color: #d9d9d9;
		}

		th.white-bg {
			background-color: #ffffff;
			border-bottom: 1px solid #ffffff;
		}
		th.complete-staff-bg {
			background-color: #dce6f1;
			border-bottom: 1px solid #dce6f1;
		}
		th.current-staff-bg {
			background-color: #ebf1df;
			border-bottom: 1px solid #ebf1df;
		}
		th.current-openings-bg {
			background-color: #fffd38;
			border-bottom: 1px solid #fffd38;
		}
		th.percent-bg {
			background-color: #e4dfec;
			border-bottom: 1px solid #e4dfec;
		}
		th.comp-shifts-bg {
			background-color: #dbeef3;
			border-bottom: 1px solid #dbeef3;
		}
		th.app-increase-bg {
			background-color: #fce9da;
			border-bottom: 1px solid #fce9da;
		}
		th.prev-month-bg {
			background-color: #c7eecf;
			border-bottom: 1px solid #c7eecf;
		}
		th.mtd-bg {
			background-color: #fec7ce;
			border-bottom: 1px solid #fec7ce;
		}
		th.ytd-bg {
			background-color: #feeaa0;
			border-bottom: 1px solid #feeaa0;
		}

		th, td {
			text-align: center;
			vertical-align: middle;
		}

		td {
			text-overflow:ellipsis;
		    white-space: nowrap;
		    overflow: hidden; 
		    word-wrap: break-word;
		    background-color: #ffffff;
		}

		td:hover{
		    text-overflow: clip;
		    white-space: inherit;
		}

		.thwd10 { min-width: 10px !important; }
		.thwd20 { min-width: 20px !important; }
		.thwd30 { min-width: 30px !important; }
		.thwd40 { min-width: 40px !important; }
		.thwd50 { min-width: 50px !important; }
		.thwd60 { min-width: 60px !important; }
		.thwd70 { min-width: 70px !important; }
		.thwd80 { min-width: 80px !important; }
		.thwd90 { min-width: 90px !important; }
		.thwd100 { min-width: 100px !important; }
		.thwd110 { min-width: 110px !important; }
		.thwd120 { min-width: 120px !important; }
		.thwd130 { min-width: 130px !important; }
		.thwd140 { min-width: 140px !important; }
		.thwd150 { min-width: 150px !important; }
		.thwd230 { min-width: 230px !important; }
		

		.wd10 { max-width: 10px !important; }
		.wd20 { max-width: 20px !important; }
		.wd30 { max-width: 30px !important; }
		.wd40 { max-width: 40px !important; }
		.wd50 { max-width: 50px !important; }
		.wd60 { max-width: 60px !important; }
		.wd70 { max-width: 70px !important; }
		.wd80 { max-width: 80px !important; }
		.wd90 { max-width: 90px !important; }
		.wd100 { max-width: 100px !important; }
		.wd110 { max-width: 110px !important; }
		.wd120 { max-width: 120px !important; }
		.wd130 { max-width: 130px !important; }
		.wd140 { max-width: 140px !important; }
		.wd150 { max-width: 150px !important; }
		.wd160 { max-width: 160px !important; }
		.wd170 { max-width: 170px !important; }
		.wd180 { max-width: 180px !important; }
		.wd190 { max-width: 190px !important; }
		.wd200 { max-width: 200px !important; }
		.wd210 { max-width: 210px !important; }
		.wd220 { max-width: 220px !important; }
		.wd230 { max-width: 230px !important; }
		.wd240 { max-width: 240px !important; }
		.wd250 { max-width: 250px !important; }
		.wd260 { max-width: 260px !important; }
		.wd270 { max-width: 270px !important; }
		.wd280 { max-width: 280px !important; }
		.wd290 { max-width: 290px !important; }
		.wd300 { max-width: 300px !important; }
		

		td.recently-created {
			background-color: #1aaf54;
			border-top: 1px solid #1aaf54;
			color: #ffffff;
		}
	}
	.table-bordered {
		td {
			border-bottom: 1px solid #000000;
			border-left: 1px solid #000000;		
		}
		td:last-child {
			border-right: 2px solid #000000;
		}
		td:first-child {
			border-left: 2px solid #000000;
		}

		tr:last-child > td {
			border-bottom: 2px solid #000000;
		}
		
	}
	.table > thead:first-child > tr:first-child {
		> th {
			border-left: 2px solid #000000;	
			border-top: 2px solid #000000;
		}

		> th:last-child {
			border-right: 2px solid #000000;
		}
	}

	.table > thead:first-child > tr:nth-child(2) {
		>th {
			border-left: 2px solid #000000;	
			border-bottom: 2px solid #000000;
			border-top: 2px solid #000000;
		}

		> th:last-child {
			border-right: 2px solid #000000;
		}
	}

	.table > thead > tr > th, 
	.table > thead > tr > td, 
	.table > tbody > tr > th, 
	.table > tbody > tr > td, 
	.table > tfoot > tr > th, 
	.table > tfoot > tr > td {
		padding: 3px;
	}

	.DTFC_LeftBodyLiner {
		overflow-y: hidden !important;

		thead th.sorting_desc:after,
		thead th.sorting_asc:after {
			content: none;
		}
	}
}